<h1>Achieveに新しく問い合わせが投稿されました！</h1>

<h2>name:<%= @contact.name %></h2>
<h2>email:<%= @contact.email %></h2>
<p>content:<%= @contact.content %></p>

<!-- <p>
  <%= link_to '問い合わせ内容はこちら', contacts_url %>
</p> -->
